.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-size: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 8px lightblue;
  padding: 20px;
  gap: 10px;
  & button {
    background-color: teal;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px 4px lightgray;
  }
}
.label {
  gap: 5px;
  display: flex;
  flex-direction: column;
  & span {
    font-weight: bold;
  }
}
.input {
  border-radius: 8px;
  padding: 5px;
  box-shadow: 2px 2px 4px 4px lightgray;
}
